In [1]:
import pandas as pd
debug_flag = True
debug_flag2 = False

In [2]:
# constants and converstions to million BTU's
coal_in_btu = 18.911
oil_in_btu = 5.705
natural_gas_in_btu = 1.035
other_gases = 1000

if debug_flag2 == True:
    coal_in_btu = 2
    oil_in_btu = 4
    natural_gas_in_btu = 8
    other_gases = 1

def convert_unit(energy_type, value):
    if energy_type == "Coal (Short Tons)":
        return value * coal_in_btu
    elif energy_type == "Petroleum (Barrels)":
        return value * oil_in_btu
    elif energy_type == "Natural Gas (Mcf)":
        return value * natural_gas_in_btu
    else:
        return value * other_gases

print(convert_unit("Coal (Short Tons)",5))
print(convert_unit("Petroleum (Barrels)",5))
print(convert_unit("Natural Gas (Mcf)",5))
print(convert_unit("Other Gases (Billion BTU)",5))

94.555
28.525
5.175
5000

In [3]:
# read energy file
energy_source_file = 'Resources/consumptionstatemon.xlsx'
energy_df = pd.read_excel(energy_source_file)
energy_df.head()

,YEAR,MONTH,STATE,TYPE OF PRODUCER,ENERGY SOURCE AND UNITS,CONSUMPTION
0,2001,1,AK,Total Electric Power Industry,Coal (Short Tons),47615.0
1,2001,1,AK,Total Electric Power Industry,Petroleum (Barrels),124998.0
2,2001,1,AK,Total Electric Power Industry,Natural Gas (Mcf),3941267.0
3,2001,1,AK,"Electric Generators, Electric Utilities",Coal (Short Tons),16535.0
4,2001,1,AK,"Electric Generators, Electric Utilities",Petroleum (Barrels),114198.0

In [4]:
# read state file
states_source_file = 'Resources/states.csv'
states_df = pd.read_csv(states_source_file)
states_df.head()

        State Abbreviation
0     Alabama           AL
1      Alaska           AK
2     Arizona           AZ
3    Arkansas           AR
4  California           CA

In [5]:
print(energy_df.columns)
energy_df.rename(columns = {'STATE':'Abbreviation', 'CONSUMPTION':'CONSUMPTION_ORG_UNITS'}, inplace = True)
energy_df.head()

Index(['YEAR', 'MONTH', 'STATE', 'TYPE OF PRODUCER', 'ENERGY SOURCE AND UNITS',
       'CONSUMPTION'],
      dtype='object')

,YEAR,MONTH,Abbreviation,TYPE OF PRODUCER,ENERGY SOURCE AND UNITS,CONSUMPTION_ORG_UNITS
0,2001,1,AK,Total Electric Power Industry,Coal (Short Tons),47615.0
1,2001,1,AK,Total Electric Power Industry,Petroleum (Barrels),124998.0
2,2001,1,AK,Total Electric Power Industry,Natural Gas (Mcf),3941267.0
3,2001,1,AK,"Electric Generators, Electric Utilities",Coal (Short Tons),16535.0
4,2001,1,AK,"Electric Generators, Electric Utilities",Petroleum (Barrels),114198.0

In [6]:
# rename column using column index. how?
# ergym_df = energy_df.rename(columns={5:'ENERGY SOURCE AND UNITS'}, inplace=True)
# ergym_df.head()

In [7]:
# get unique energy source using column name

if debug_flag == True:
    print("")
    print("**************")
    print("ENERGY SOURCE AND UNITS")
    print(energy_df["ENERGY SOURCE AND UNITS"].unique())

    print("")
    print("**************")
    print("TYPE OF PRODUCER")
    print(energy_df["TYPE OF PRODUCER"].unique())
    print("**************")
# get unique energy source using column name index

**************
ENERGY SOURCE AND UNITS
['Coal (Short Tons)' 'Petroleum (Barrels)' 'Natural Gas (Mcf)'
 'Other Gases (Billion BTU)']

**************
TYPE OF PRODUCER
['Total Electric Power Industry' 'Electric Generators, Electric Utilities'
 'Combined Heat and Power, Electric Power'
 'Combined Heat and Power, Commercial Power'
 'Combined Heat and Power, Industrial Power'
 'Electric Generators, Independent Power Producers']
**************

In [8]:
# filter petroleum
# is_petroleum_sr =  energy_df["ENERGY SOURCE AND UNITS"]=="Petroleum (Barrels)"
# energy_petroleum_df = energy_df[is_petroleum_sr]
# energy_petroleum_df.head()

In [9]:
# filter petroleum and type of producer
# producer_type_sr =  energy_petroleum_df["TYPE OF PRODUCER"]=="Total Electric Power Industry"
# total_petroleum_df = energy_petroleum_df[producer_type_sr]
# total_petroleum_df.head()

In [10]:
# filter "Total Electic Power Industry"
producer_type_sr =  energy_df["TYPE OF PRODUCER"]=="Total Electric Power Industry"
industry_total_df = energy_df[producer_type_sr]
industry_total_df.head()

,YEAR,MONTH,Abbreviation,TYPE OF PRODUCER,ENERGY SOURCE AND UNITS,CONSUMPTION_ORG_UNITS
0,2001,1,AK,Total Electric Power Industry,Coal (Short Tons),47615.0
1,2001,1,AK,Total Electric Power Industry,Petroleum (Barrels),124998.0
2,2001,1,AK,Total Electric Power Industry,Natural Gas (Mcf),3941267.0
12,2001,1,AL,Total Electric Power Industry,Coal (Short Tons),3020601.0
13,2001,1,AL,Total Electric Power Industry,Petroleum (Barrels),284241.0

In [11]:
industry_total_df = industry_total_df.merge(states_df, on='Abbreviation')
industry_total_df.rename(columns = {'State_x':'State'}, inplace = True)
industry_total_df.head()

,YEAR,MONTH,Abbreviation,TYPE OF PRODUCER,ENERGY SOURCE AND UNITS,CONSUMPTION_ORG_UNITS,State
0,2001,1,AK,Total Electric Power Industry,Coal (Short Tons),47615.0,Alaska
1,2001,1,AK,Total Electric Power Industry,Petroleum (Barrels),124998.0,Alaska
2,2001,1,AK,Total Electric Power Industry,Natural Gas (Mcf),3941267.0,Alaska
3,2001,2,AK,Total Electric Power Industry,Coal (Short Tons),57587.0,Alaska
4,2001,2,AK,Total Electric Power Industry,Petroleum (Barrels),119951.0,Alaska

In [12]:
# normalize the unit
industry_total_df['CONSUMPTION'] = industry_total_df.apply(lambda x: convert_unit(x[4], x[5]), axis = 1)
industry_total_df.head()

,YEAR,MONTH,Abbreviation,TYPE OF PRODUCER,ENERGY SOURCE AND UNITS,CONSUMPTION_ORG_UNITS,State,CONSUMPTION
0,2001,1,AK,Total Electric Power Industry,Coal (Short Tons),47615.0,Alaska,900447.265
1,2001,1,AK,Total Electric Power Industry,Petroleum (Barrels),124998.0,Alaska,713113.590
2,2001,1,AK,Total Electric Power Industry,Natural Gas (Mcf),3941267.0,Alaska,4079211.345
3,2001,2,AK,Total Electric Power Industry,Coal (Short Tons),57587.0,Alaska,1089027.757
4,2001,2,AK,Total Electric Power Industry,Petroleum (Barrels),119951.0,Alaska,684320.455

In [13]:
indus_tot_normalized_df = industry_total_df.copy()
indus_tot_normalized_df = indus_tot_normalized_df.drop(labels=["CONSUMPTION_ORG_UNITS"], axis='columns')
indus_tot_normalized_df.head()

,YEAR,MONTH,Abbreviation,TYPE OF PRODUCER,ENERGY SOURCE AND UNITS,State,CONSUMPTION
0,2001,1,AK,Total Electric Power Industry,Coal (Short Tons),Alaska,900447.265
1,2001,1,AK,Total Electric Power Industry,Petroleum (Barrels),Alaska,713113.590
2,2001,1,AK,Total Electric Power Industry,Natural Gas (Mcf),Alaska,4079211.345
3,2001,2,AK,Total Electric Power Industry,Coal (Short Tons),Alaska,1089027.757
4,2001,2,AK,Total Electric Power Industry,Petroleum (Barrels),Alaska,684320.455

In [14]:
# apply filter
filer_df2 =  pd.DataFrame()
if debug_flag == True:
    filter_value = "Coal (Short Tons)"
    filter_value = "Petroleum (Barrels)"
    filter_value = "Natural Gas (Mcf)"
    filter_value = "Other Gases (Billion BTU)"
    filter_column = "ENERGY SOURCE AND UNITS"

    filter_value = "District of Columbia"
    filter_column = "State"

    filer_sr2 = industry_total_df[filter_column] == filter_value
    filer_df2 = industry_total_df[filer_sr2]
    filer_df2 = filer_df2.sort_values(by=['CONSUMPTION'])
filer_df2.head(100)

,YEAR,MONTH,Abbreviation,TYPE OF PRODUCER,ENERGY SOURCE AND UNITS,CONSUMPTION_ORG_UNITS,State,CONSUMPTION
2123,2003,12,DC,Total Electric Power Industry,Petroleum (Barrels),0.0,District of Columbia,0.000
2158,2006,11,DC,Total Electric Power Industry,Petroleum (Barrels),0.0,District of Columbia,0.000
2170,2007,11,DC,Total Electric Power Industry,Petroleum (Barrels),0.0,District of Columbia,0.000
2104,2002,5,DC,Total Electric Power Industry,Petroleum (Barrels),0.0,District of Columbia,0.000
2120,2003,9,DC,Total Electric Power Industry,Petroleum (Barrels),0.0,District of Columbia,0.000
...,...,...,...,...,...,...,...,...
2155,2006,8,DC,Total Electric Power Industry,Petroleum (Barrels),136007.0,District of Columbia,775919.935
2143,2005,8,DC,Total Electric Power Industry,Petroleum (Barrels),158493.0,District of Columbia,904202.565
2107,2002,8,DC,Total Electric Power Industry,Petroleum (Barrels),198110.0,District of Columbia,1130217.550
2142,2005,7,DC,Total Electric Power Industry,Petroleum (Barrels),201784.0,District of Columbia,1151177.720
2106,2002,7,DC,Total Electric Power Industry,Petroleum (Barrels),229807.0,District of Columbia,1311048.935

In [15]:
# of all energy type
indus_tot_normalized_gbdf = indus_tot_normalized_df.groupby(["YEAR", "MONTH", "State"]).sum()
indus_tot_agregated_df = indus_tot_normalized_gbdf.reset_index()

# capitalize the column names
indus_tot_agregated_df.columns = [x.capitalize() for x in indus_tot_agregated_df.columns]
indus_tot_agregated_df.head()

   Year  Month       State   Consumption
0  2001      1     Alabama  6.449751e+07
1  2001      1      Alaska  5.692772e+06
2  2001      1     Arizona  4.213304e+07
3  2001      1    Arkansas  2.796406e+07
4  2001      1  California  1.056239e+08

In [16]:
indus_tot_agregated_df = indus_tot_agregated_df.loc[(indus_tot_agregated_df["Consumption"] >= 100)]
indus_tot_agregated_df['Consumption'] = indus_tot_agregated_df['Consumption'].apply(lambda x: round(x, 0))
print(indus_tot_agregated_df.agg({'Consumption' : ['min', 'max']}))
indus_tot_agregated_df.head(20)

     Consumption
min       1694.0
max  395723424.0

    Year  Month                 State  Consumption
0   2001      1               Alabama   64497509.0
1   2001      1                Alaska    5692772.0
2   2001      1               Arizona   42133042.0
3   2001      1              Arkansas   27964057.0
4   2001      1            California  105623922.0
5   2001      1              Colorado   39650806.0
6   2001      1           Connecticut   12166846.0
7   2001      1              Delaware    5711738.0
8   2001      1  District of Columbia     144964.0
9   2001      1               Florida  112353543.0
10  2001      1               Georgia   60199403.0
11  2001      1                Hawaii    7941384.0
12  2001      1                 Idaho     265039.0
13  2001      1              Illinois   84321092.0
14  2001      1               Indiana  102262080.0
15  2001      1                  Iowa   38788503.0
16  2001      1                Kansas   38909829.0
17  2001      1              Kentucky   67922737.0
18  2001      1             Louisiana   62857615.0
19  2001      1                 Maine    8455189.0

In [17]:
# write out to csv file
indus_tot_agregated_df.to_csv('Resources/energy_data.csv', index=False)

In [18]:
# read other worksheet