In [1]:
import pandas as pd

In [2]:
# read energy file
energy_source_file = 'Resources/consumptionstatemon.xlsx'
energy_df = pd.read_excel(energy_source_file)
energy_df.head()

,YEAR,MONTH,STATE,TYPE OF PRODUCER,ENERGY SOURCE AND UNITS,CONSUMPTION
0,2001,1,AK,Total Electric Power Industry,Coal (Short Tons),47615.0
1,2001,1,AK,Total Electric Power Industry,Petroleum (Barrels),124998.0
2,2001,1,AK,Total Electric Power Industry,Natural Gas (Mcf),3941267.0
3,2001,1,AK,"Electric Generators, Electric Utilities",Coal (Short Tons),16535.0
4,2001,1,AK,"Electric Generators, Electric Utilities",Petroleum (Barrels),114198.0

In [3]:
# read state file
states_source_file = 'Resources/states.csv'
states_df = pd.read_csv(states_source_file)

states_df.rename(columns = {'State':'State_FN', 'Abbreviation':'STATE'}, inplace = True)
states_df.head()

     State_FN STATE
0     Alabama    AL
1      Alaska    AK
2     Arizona    AZ
3    Arkansas    AR
4  California    CA

In [4]:
energy_df.columns

Index(['YEAR', 'MONTH', 'STATE', 'TYPE OF PRODUCER', 'ENERGY SOURCE AND UNITS',
       'CONSUMPTION'],
      dtype='object')

In [5]:
# rename column using column index. how?
# ergym_df = energy_df.rename(columns={5:'ENERGY SOURCE AND UNITS'}, inplace=True)
# ergym_df.head()

In [6]:
# get unique energy source using column name
print("")
print("**************")
print("ENERGY SOURCE AND UNITS")
print(energy_df["ENERGY SOURCE AND UNITS"].unique())

print("")
print("**************")
print("TYPE OF PRODUCER")
print(energy_df["TYPE OF PRODUCER"].unique())
print("**************")
# get unique energy source using column name index

**************
ENERGY SOURCE AND UNITS
['Coal (Short Tons)' 'Petroleum (Barrels)' 'Natural Gas (Mcf)'
 'Other Gases (Billion BTU)']

**************
TYPE OF PRODUCER
['Total Electric Power Industry' 'Electric Generators, Electric Utilities'
 'Combined Heat and Power, Electric Power'
 'Combined Heat and Power, Commercial Power'
 'Combined Heat and Power, Industrial Power'
 'Electric Generators, Independent Power Producers']
**************

In [7]:
# filter petroleum
is_petroleum_sr =  energy_df["ENERGY SOURCE AND UNITS"]=="Petroleum (Barrels)"
type(is_petroleum_sr)

pandas.core.series.Series

In [8]:
energy_petroleum_df = energy_df[is_petroleum_sr]
energy_petroleum_df.head()

,YEAR,MONTH,STATE,TYPE OF PRODUCER,ENERGY SOURCE AND UNITS,CONSUMPTION
1,2001,1,AK,Total Electric Power Industry,Petroleum (Barrels),124998.0
4,2001,1,AK,"Electric Generators, Electric Utilities",Petroleum (Barrels),114198.0
7,2001,1,AK,"Combined Heat and Power, Electric Power",Petroleum (Barrels),550.0
9,2001,1,AK,"Combined Heat and Power, Commercial Power",Petroleum (Barrels),1590.0
10,2001,1,AK,"Combined Heat and Power, Industrial Power",Petroleum (Barrels),8660.0

In [9]:
# filter petroleum
producer_type_sr =  energy_petroleum_df["TYPE OF PRODUCER"]=="Total Electric Power Industry"
total_petroleum_df = energy_petroleum_df[producer_type_sr]
total_petroleum_df.head()

,YEAR,MONTH,STATE,TYPE OF PRODUCER,ENERGY SOURCE AND UNITS,CONSUMPTION
1,2001,1,AK,Total Electric Power Industry,Petroleum (Barrels),124998.0
13,2001,1,AL,Total Electric Power Industry,Petroleum (Barrels),284241.0
29,2001,1,AR,Total Electric Power Industry,Petroleum (Barrels),209194.0
39,2001,1,AZ,Total Electric Power Industry,Petroleum (Barrels),268016.0
51,2001,1,CA,Total Electric Power Industry,Petroleum (Barrels),960824.0

In [10]:
total_petroleum_df = total_petroleum_df.merge(states_df, on='STATE')
total_petroleum_df.head()

,YEAR,MONTH,STATE,TYPE OF PRODUCER,ENERGY SOURCE AND UNITS,CONSUMPTION,State_FN
0,2001,1,AK,Total Electric Power Industry,Petroleum (Barrels),124998.0,Alaska
1,2001,2,AK,Total Electric Power Industry,Petroleum (Barrels),119951.0,Alaska
2,2001,3,AK,Total Electric Power Industry,Petroleum (Barrels),164922.0,Alaska
3,2001,4,AK,Total Electric Power Industry,Petroleum (Barrels),139999.0,Alaska
4,2001,5,AK,Total Electric Power Industry,Petroleum (Barrels),135941.0,Alaska

In [11]:
# narrow down columns
tot_petro_final_df = total_petroleum_df.iloc[:, [0,1,2,5]]
tot_petro_final_df.columns = [x.capitalize() for x in tot_petro_final_df.columns]
tot_petro_final_df.head()

   Year  Month State  Consumption
0  2001      1    AK     124998.0
1  2001      2    AK     119951.0
2  2001      3    AK     164922.0
3  2001      4    AK     139999.0
4  2001      5    AK     135941.0

In [12]:
# write out to csv file
tot_petro_final_df.to_csv('Resources/energy_data.csv', index=False)

In [13]:
# make df with

In [14]:
# read other worksheet

In [15]:
# break energy source and units

In [16]:
# normalize units