In [3]:
import pandas as pd

In [6]:
energy_source_file = 'Resources/consumptionstatemon.xls'
energy_df = pd.read_excel(energy_source_file)

energy_df.head()

,YEAR,MONTH,STATE,TYPE OF PRODUCER,ENERGY SOURCE (UNITS),CONSUMPTION
0,2001,1,AK,Total Electric Power Industry,Coal (Short Tons),47615.0
1,2001,1,AK,Total Electric Power Industry,Petroleum (Barrels),124998.0
2,2001,1,AK,Total Electric Power Industry,Natural Gas (Mcf),3941267.0
3,2001,1,AK,"Electric Generators, Electric Utilities",Coal (Short Tons),16535.0
4,2001,1,AK,"Electric Generators, Electric Utilities",Petroleum (Barrels),114198.0