In [7]:
# Dependencies and Setup
import pandas as pd
import os
import numpy as np
import requests
import pandas as pd
import statistics as st
import scipy.stats as stats
import numpy as np
from datetime import datetime
from sklearn.linear_model import LinearRegression
import matplotlib.pyplot as plt
import matplotlib as mpl
#import plotly.express as px
# import plotly.graph_objects as go

# set default dpi to 300
mpl.rcParams['figure.dpi'] = 300

# File to Load
populations_Growth = "Resources/populations_Growth_Rate.csv"
populations_ByYear = "Resources/populations.csv"

# Read Population Files and store into Pandas data frame
populations_Growth_df = pd.read_csv(populations_Growth)
populations_ByYear_df = pd.read_csv(populations_ByYear)

In [6]:
# populations_Growth_df
populations_ByYear_df

     Year    State  Population  Pop Growth Rate
0    2000  Alabama     4452173              NaN
1    2001  Alabama     4467634         0.003473
2    2002  Alabama     4480089         0.002788
3    2003  Alabama     4503491         0.005224
4    2004  Alabama     4530729         0.006048
..    ...      ...         ...              ...
556  2006  Wyoming      522667         0.016551
557  2007  Wyoming      534876         0.023359
558  2008  Wyoming      546043         0.020878
559  2009  Wyoming      559851         0.025287
560  2010  Wyoming      564460         0.008233

[561 rows x 4 columns]

In [ ]:
pop_GR_bins = []