In [13]:
# Dependencies and Setup
import pandas as pd
import os
import numpy as np

# File to Load (Remember to Change These)
pop2000_zip = "Resources/population_by_zip_2000.csv"
pop2010_zip = "Resources/population_by_zip_2010.csv"
pop2000_2010 = "Resources/US_Population_2000_to_2010.xlsx"

# Read Population Files and store into Pandas data frame
pop2000Z_df = pd.read_csv(pop2000_zip)
pop2010Z_df = pd.read_csv(pop2010_zip)
pop2000_2010_df = pd.read_excel(pop2000_2010)

In [14]:
pop2000Z_df

         minimum_age  maximum_age  gender  population zipcode          geo_id
0               10.0         14.0  female          75   39769  8600000US39769
1               85.0          NaN  female         130   44047  8600000US44047
2               30.0         34.0  female          11   42436  8600000US42436
3               22.0         24.0    male          22   99685  8600000US99685
4               67.0         69.0    male          69   04239  8600000US04239
...              ...          ...     ...         ...     ...             ...
1586076         60.0         61.0  female         381   77351  8600000US77351
1586077         85.0          NaN  female          90   28277  8600000US28277
1586078         70.0         74.0    male         263   68505  8600000US68505
1586079         10.0         14.0    male         419   72086  8600000US72086
1586080         40.0         44.0    male          13   72517  8600000US72517

[1586081 rows x 6 columns]

In [15]:
pop2010Z_df

         population  minimum_age  maximum_age  gender  zipcode          geo_id
0                50         30.0         34.0  female    61747  8600000US61747
1                 5         85.0          NaN    male    64120  8600000US64120
2              1389         30.0         34.0    male    95117  8600000US95117
3               231         60.0         61.0  female    74074  8600000US74074
4                56          0.0          4.0  female    58042  8600000US58042
...             ...          ...          ...     ...      ...             ...
1622826          66         15.0         17.0  female    28640  8600000US28640
1622827         791         25.0         29.0    male    98604  8600000US98604
1622828          55         55.0         59.0  female    29545  8600000US29545
1622829          10         25.0         29.0  female    45319  8600000US45319
1622830          65         35.0         39.0  female    71032  8600000US71032

[1622831 rows x 6 columns]

In [16]:
pop2000_2010_df

,Geographic Area,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010
0,United States,282162411,284968955,287625193,290107933,292805298,295516599,298379912,301231207,304093966,306771529,309349689
1,Alabama,4452173,4467634,4480089,4503491,4530729,4569805,4628981,4672840,4718206,4757938,4785298
2,Alaska,627963,633714,642337,648414,659286,666946,675302,680300,687455,698895,713985
3,Arizona,5160586,5273477,5396255,5510364,5652404,5839077,6029141,6167681,6280362,6343154,6413737
4,Arkansas,2678588,2691571,2705927,2724816,2749686,2781097,2821761,2848650,2874554,2896843,2921606
5,California,33987977,34479458,34871843,35253159,35574576,35827943,36021202,36250311,36604337,36961229,37349363
6,Colorado,4326921,4425687,4490406,4528732,4575013,4631888,4720423,4803868,4889730,4972195,5049071
7,Connecticut,3411777,3432835,3458749,3484336,3496094,3506956,3517460,3527270,3545579,3561807,3577073
8,Delaware,786373,795699,806169,818003,830803,845150,859268,871749,883874,891730,899769
9,District of Columbia,572046,574504,573158,568502,567754,567136,570681,574404,580236,592228,604453
10,Florida,16047515,16356966,16689370,17004085,17415318,17842038,18166990,18367842,18527305,18652644,18843326
11,Georgia,8227303,8377038,8508256,8622793,8769252,8925922,9155813,9349988,9504843,9620846,9712587
12,Hawaii,1213519,1225948,1239613,1251154,1273569,1292729,1309731,1315675,1332213,1346717,1363621
13,Idaho,1299430,1319962,1340372,1363380,1391802,1428241,1468669,1505105,1534320,1554439,1571450
14,Illinois,12434161,12488445,12525556,12556006,12589773,12609903,12643955,12695866,12747038,12796778,12843166
15,Indiana,6091866,6127760,6155967,6196638,6233007,6278616,6332669,6379599,6424806,6459325,6490621
16,Iowa,2929067,2931997,2934234,2941999,2953635,2964454,2982644,2999212,3016734,3032870,3049883
17,Kansas,2693681,2702162,2713535,2723004,2734373,2745299,2762931,2783785,2808076,2832704,2859169
18,Kentucky,4049021,4068132,4089875,4117170,4146101,4182742,4219239,4256672,4289878,4317074,4346266
19,Louisiana,4471885,4477875,4497267,4521042,4552238,4576628,4302665,4375581,4435586,4491648,4544228
20,Maine,1277072,1285692,1295960,1306513,1313688,1318787,1323619,1327040,1330509,1329590,1327567
21,Maryland,5311034,5374691,5440389,5496269,5546935,5592379,5627367,5653408,5684965,5730388,5785982
22,Massachusetts,6361104,6397634,6417206,6422565,6412281,6403290,6410084,6431559,6468967,6517613,6557254
23,Michigan,9952450,9991120,10015710,10041152,10055315,10051137,10036081,10001284,9946889,9901591,9877574
24,Minnesota,4933692,4982796,5018935,5053572,5087713,5119598,5163555,5207203,5247018,5281203,5310584
25,Mississippi,2848353,2852994,2858681,2868312,2889010,2905943,2904978,2928350,2947806,2958774,2970036
26,Missouri,5607285,5641142,5674825,5709403,5747741,5790300,5842704,5887612,5923916,5961088,5996231
27,Montana,903773,906961,911667,919630,930009,940102,952692,964706,976415,983982,990898
28,Nebraska,1713820,1719836,1728292,1738643,1749370,1761497,1772693,1783440,1796378,1812683,1830429
29,Nevada,2018741,2098399,2173791,2248850,2346222,2432143,2522658,2601072,2653630,2684665,2704642
30,New Hampshire,1239882,1255517,1269089,1279840,1290121,1298492,1308389,1312540,1315906,1316102,1316759
31,New Jersey,8430621,8492671,8552643,8601402,8634561,8651974,8661679,8677885,8711090,8755602,8801624
32,New Mexico,1821204,1831690,1855309,1877574,1903808,1932274,1962137,1990070,2010662,2036802,2065932
33,New York,19001780,19082838,19137800,19175939,19171567,19132610,19104631,19132335,19212436,19307066,19392283
34,North Carolina,8081614,8210122,8326201,8422501,8553152,8705407,8917270,9118037,9309449,9449566,9561558
35,North Dakota,642023,639062,638168,638817,644705,646089,649422,652822,657569,664968,674499
36,Ohio,11363543,11387404,11407889,11434788,11452251,11463320,11481213,11500468,11515391,11528896,11536182
37,Oklahoma,3454365,3467100,3489080,3504892,3525233,3548597,3594090,3634349,3668976,3717572,3761702
38,Oregon,3429708,3467937,3513424,3547376,3569463,3613202,3670883,3722417,3768748,3808600,3838957
39,Pennsylvania,12284173,12298970,12331031,12374658,12410722,12449990,12510809,12563937,12612285,12666858,12709630
40,Rhode Island,1050268,1057142,1065995,1071342,1074579,1067916,1063096,1057315,1055003,1053646,1052886
41,South Carolina,4024223,4064995,4107795,4150297,4210921,4270150,4357847,4444110,4528996,4589872,4636312
42,South Dakota,755844,757972,760020,763729,770396,775493,783033,791623,799124,807067,816463
43,Tennessee,5703719,5750789,5795918,5847812,5910809,5991057,6088766,6175727,6247411,6306019,6356897
44,Texas,20944499,21319622,21690325,22030931,22394023,22778123,23359580,23831983,24309039,24801761,25257114
45,Utah,2244502,2283715,2324815,2360137,2401580,2457719,2525507,2597746,2663029,2723421,2776469
46,Vermont,609618,612223,615442,617858,619920,621215,622892,623481,624151,624817,625960
47,Virginia,7105817,7198362,7286873,7366977,7475575,7577105,7673725,7751000,7833496,7925937,8024617
48,Washington,5910512,5985722,6052349,6104115,6178645,6257305,6370753,6461587,6562231,6667426,6744496
49,West Virginia,1807021,1801481,1805414,1812295,1816438,1820492,1827912,1834052,1840310,1847775,1853973
50,Wisconsin,5373999,5406835,5445162,5479203,5514026,5546166,5577655,5610775,5640996,5669264,5691047
51,Wyoming,494300,494657,500017,503453,509106,514157,522667,534876,546043,559851,564460

In [18]:
for index, row in pop2000_2010_df.iterrows():
    for year in range(2000, 2011):
        print(row[year])

282162411
284968955
287625193
290107933
292805298
295516599
298379912
301231207
304093966
306771529
309349689
4452173
4467634
4480089
4503491
4530729
4569805
4628981
4672840
4718206
4757938
4785298
627963
633714
642337
648414
659286
666946
675302
680300
687455
698895
713985
5160586
5273477
5396255
5510364
5652404
5839077
6029141
6167681
6280362
6343154
6413737
2678588
2691571
2705927
2724816
2749686
2781097
2821761
2848650
2874554
2896843
2921606
33987977
34479458
34871843
35253159
35574576
35827943
36021202
36250311
36604337
36961229
37349363
4326921
4425687
4490406
4528732
4575013
4631888
4720423
4803868
4889730
4972195
5049071
3411777
3432835
3458749
3484336
3496094
3506956
3517460
3527270
3545579
3561807
3577073
786373
795699
806169
818003
830803
845150
859268
871749
883874
891730
899769
572046
574504
573158
568502
567754
567136
570681
574404
580236
592228
604453
16047515
16356966
16689370
17004085
17415318
17842038
18166990
18367842
18527305
18652644
18843326
8227303
8377038
8508256
8622793
8769252
8925922
9155813
9349988
9504843
9620846
9712587
1213519
1225948
1239613
1251154
1273569
1292729
1309731
1315675
1332213
1346717
1363621
1299430
1319962
1340372
1363380
1391802
1428241
1468669
1505105
1534320
1554439
1571450
12434161
12488445
12525556
12556006
12589773
12609903
12643955
12695866
12747038
12796778
12843166
6091866
6127760
6155967
6196638
6233007
6278616
6332669
6379599
6424806
6459325
6490621
2929067
2931997
2934234
2941999
2953635
2964454
2982644
2999212
3016734
3032870
3049883
2693681
2702162
2713535
2723004
2734373
2745299
2762931
2783785
2808076
2832704
2859169
4049021
4068132
4089875
4117170
4146101
4182742
4219239
4256672
4289878
4317074
4346266
4471885
4477875
4497267
4521042
4552238
4576628
4302665
4375581
4435586
4491648
4544228
1277072
1285692
1295960
1306513
1313688
1318787
1323619
1327040
1330509
1329590
1327567
5311034
5374691
5440389
5496269
5546935
5592379
5627367
5653408
5684965
5730388
5785982
6361104
6397634
6417206
6422565
6412281
6403290
6410084
6431559
6468967
6517613
6557254
9952450
9991120
10015710
10041152
10055315
10051137
10036081
10001284
9946889
9901591
9877574
4933692
4982796
5018935
5053572
5087713
5119598
5163555
5207203
5247018
5281203
5310584
2848353
2852994
2858681
2868312
2889010
2905943
2904978
2928350
2947806
2958774
2970036
5607285
5641142
5674825
5709403
5747741
5790300
5842704
5887612
5923916
5961088
5996231
903773
906961
911667
919630
930009
940102
952692
964706
976415
983982
990898
1713820
1719836
1728292
1738643
1749370
1761497
1772693
1783440
1796378
1812683
1830429
2018741
2098399
2173791
2248850
2346222
2432143
2522658
2601072
2653630
2684665
2704642
1239882
1255517
1269089
1279840
1290121
1298492
1308389
1312540
1315906
1316102
1316759
8430621
8492671
8552643
8601402
8634561
8651974
8661679
8677885
8711090
8755602
8801624
1821204
1831690
1855309
1877574
1903808
1932274
1962137
1990070
2010662
2036802
2065932
19001780
19082838
19137800
19175939
19171567
19132610
19104631
19132335
19212436
19307066
19392283
8081614
8210122
8326201
8422501
8553152
8705407
8917270
9118037
9309449
9449566
9561558
642023
639062
638168
638817
644705
646089
649422
652822
657569
664968
674499
11363543
11387404
11407889
11434788
11452251
11463320
11481213
11500468
11515391
11528896
11536182
3454365
3467100
3489080
3504892
3525233
3548597
3594090
3634349
3668976
3717572
3761702
3429708
3467937
3513424
3547376
3569463
3613202
3670883
3722417
3768748
3808600
3838957
12284173
12298970
12331031
12374658
12410722
12449990
12510809
12563937
12612285
12666858
12709630
1050268
1057142
1065995
1071342
1074579
1067916
1063096
1057315
1055003
1053646
1052886
4024223
4064995
4107795
4150297
4210921
4270150
4357847
4444110
4528996
4589872
4636312
755844
757972
760020
763729
770396
775493
783033
791623
799124
807067
816463
5703719
5750789
5795918
5847812
5910809
5991057
6088766
6175727
6247411
6306019
6356897
20944499
21319622
21690325
22030931
22394023
22778123
23359580
23831983
24309039
24801761
25257114
2244502
2283715
2324815
2360137
2401580
2457719
2525507
2597746
2663029
2723421
2776469
609618
612223
615442
617858
619920
621215
622892
623481
624151
624817
625960
7105817
7198362
7286873
7366977
7475575
7577105
7673725
7751000
7833496
7925937
8024617
5910512
5985722
6052349
6104115
6178645
6257305
6370753
6461587
6562231
6667426
6744496
1807021
1801481
1805414
1812295
1816438
1820492
1827912
1834052
1840310
1847775
1853973
5373999
5406835
5445162
5479203
5514026
5546166
5577655
5610775
5640996
5669264
5691047
494300
494657
500017
503453
509106
514157
522667
534876
546043
559851
564460

In [19]:
pop_data = {
    'Year' : [],
    'State' : [],
    'Population' : []
}
for index, row in pop2000_2010_df.iterrows():
    for year in range(2000, 2011):
        pop_data['Year'].append(year)
        pop_data['State'].append(row['Geographic Area'])
        pop_data['Population'].append(row[year])

In [20]:
pop_df = pd.DataFrame(pop_data)
pop_df = pop_df[pop_df['State'] != "United States"]
pop_df

     Year    State  Population
11   2000  Alabama     4452173
12   2001  Alabama     4467634
13   2002  Alabama     4480089
14   2003  Alabama     4503491
15   2004  Alabama     4530729
..    ...      ...         ...
567  2006  Wyoming      522667
568  2007  Wyoming      534876
569  2008  Wyoming      546043
570  2009  Wyoming      559851
571  2010  Wyoming      564460

[561 rows x 3 columns]

In [21]:
pop_df.to_csv('populations.csv')